@using X.PagedList;
@using X.PagedList.Mvc.Core;
@model Car
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
<script src="~/js/priceOverview.js"></script>

<div class="text-center">
    <input class="kmTitel" placeholder="KM om året" type="text" pattern="[0-9]+" />
</div>
<div id="contentAligner" class="contentAligner">
    @if (ViewBag.OnePageOfCars != null)
    {
        <div class="row">
            <div class="col-sm">
                <p> <strong> Mærke </strong> </p>
            </div>
            <div class="col-sm">
                <p> <strong> Model </strong></p>
            </div>
            <div class="col-sm">
                <p> <strong> Udgave </strong></p>
            </div>
            <div class="col-sm">
                <p> <strong> År </strong></p>
            </div>
            <div class="col-sm">
                <p> <strong> Type </strong></p>
            </div>
        </div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @for (int i = 0; i < (ViewBag.OnePageOfCars).Count; i++)
            {
                Car car = (Car)ViewBag.OnePageOfCars[i];
                @Html.Partial("CarPartialView", car);

            }
        }
        <div class="pagedListPager">
            @Html.PagedListPager((IPagedList)ViewBag.OnePageOfCars, page =>
        Url.Action("Index", new { page }))
        </div>

        <div class="chosenCars">
            <div class="row">
                @if (Context.Session.GetObject<Car>("SelectedGas") != null)
                {
                    Car car = Context.Session.GetObject<Car>("SelectedGas");
                    <div class="col-sm">
                        <p class="lead"> @car.Brand</p>
                    </div>
                    <div class="col-sm">
                        <p class="lead">@car.Model</p>
                    </div>
                    <div class="col-sm">
                        <p class="lead">@car.Variant</p>
                    </div>
                    <div class="col-sm">
                        <p class="lead">@car.ReleaseYear.Year</p>
                    </div>
                }
                else
                {
                    <div class="col-sm">
                        <p class="lead"> Vælg Benzin bil </p>
                    </div>
                }
            </div>
            <div class="row">
                @if (Context.Session.GetObject<Car>("SelectedElectric") != null)
                {
                    Car car = Context.Session.GetObject<Car>("SelectedElectric");
                    <div class="col-sm">
                        <p class="lead"> @car.Brand</p>
                    </div>
                    <div class="col-sm">
                        <p class="lead">@car.Model</p>
                    </div>
                    <div class="col-sm">
                        <p class="lead">@car.Variant</p>
                    </div>
                    <div class="col-sm">
                        <p class="lead">@car.ReleaseYear.Year</p>
                    </div>
                }
                else
                {
                    <div class="col-sm">
                        <p class="lead"> Vælg El bil </p>
                    </div>
                }
            </div>
        </div>

        <div class="form-check">
            <h3 class="lead">Ladestander type</h3>
            <div class="electricRadioBoxes">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="electricRadioRent" name="electricRadio" class="custom-control-input">
                    <label class="custom-control-label" for="electricRadioRent">Leje (Abonnement)</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="electricRadioOwn" name="electricRadio" class="custom-control-input">
                    <label class="custom-control-label" for="electricRadioOwn">Ejer Selv</label>
                </div>
            </div>
        </div>

        <div class="statisticsContainer">
            <div class="statisticsNav">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">1. År</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">2. År</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">3. År</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">4. År</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">5. År</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Samlet</a>
                    </li>
                </ul>
            </div>
            <div class="statisticsBody">
                <div class="statisticsGas col category">
                    <div class="d-flex p-2 ">Nypris</div>
                    <div class="d-flex p-2 ">Brændstof/el forbrug</div>
                    <div class="d-flex p-2 ">Co2 afgift</div>
                    <div class="d-flex p-2 ">Bilsyn</div>
                    <div class="d-flex p-2 ">Serviceeftersyn</div>
                    <div class="d-flex p-2 ">Ladestander</div>
                    <div class="d-flex p-2 ">Ladeabonnement</div>
                    <br />
                    <div class="d-flex p-2 ">Totalt</div>
                </div>
                <div class="col">
                    <div id="newPGas" class="d-flex p-2"></div>
                    <div id="fuelPGas" class="d-flex p-2"></div>
                    <div id="co2Gas" class="d-flex p-2"></div>
                    <div id="synPGas" class="d-flex p-2"></div>
                    <div id="servPGas" class="d-flex p-2"></div>
                    <div id="chargPGas" class="d-flex p-2"></div>
                    <div id="subPGas" class="d-flex p-2"></div>
                    <br />
                    <div id="totalPGas" class="d-flex p-2"></div>
                </div>
                <div class="statisticsElectric">
                    <div class="col">
                        <div id="newPElec" class="d-flex p-2"></div>
                        <div id="electPElec" class="d-flex p-2"></div>
                        <div id="co2Elec" class="d-flex p-2"></div>
                        <div id="synPElec" class="d-flex p-2"></div>
                        <div id="servPElec" class="d-flex p-2"></div>
                        <div id="chargPElec" class="d-flex p-2"></div>
                        <div id="subPElec" class="d-flex p-2"></div>
                        <br />
                        <div id="totalPElec" class="d-flex p-2"></div>
                    </div>
                </div>
                <div class="canvasContainer">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-2">Det kunne ikke indlæses nogle biler på dette tidspunkt, prøv igen senere</h1>
        </div>
    }
</div>				